@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #000000;
}

/* Header Styles */
.main-header {
    background: linear-gradient(90deg, #810000, #02115e); /* Degradado de #810000 a #02115e */
    height: 70px;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center;
    padding: 0 20px; /* Espaciado lateral */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

.header-text {
    font-size: 1.8rem; /* Tamaño del texto */
    color: #ffffff; /* Color blanco para el texto */
    font-weight: 500; /* Grosor del texto */
}

.logo {
    max-height: 100%; /* Asegura que la imagen no exceda la altura del header */
    max-width: 70px; /* Limita el ancho máximo de la imagen si es necesario */
}

  /* Dashboard */

body {
    background-color: #f9f9f9;
}

.carousel-container {
    padding: 20px 0; /* Espaciado superior e inferior del carousel */
}

.collection {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.collection .content {
    height: 20rem;
    width: 25rem;
    background-color: #efeeee;
    border: .2rem solid rgba(255,255,255,.1);
    border-radius: .7rem;
    border-bottom: .4rem solid #152a8f;
    border-top: .4rem solid #810000;
    overflow: hidden;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-content h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.text-content p {
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}

/* .btn {
    background-color: #0099ff;
    padding: .2rem;
    border: 2px solid #0099ff;
    outline: none;
    font-size: .8rem;
    border-radius: .5rem;
    margin: 1rem 0;
    cursor: pointer;
} */

.main-content {
    padding: 50px 20px; /* Espaciado en la sección de contenido */
    background-color: #f9f9f9;
    color: #333;
}

.main-content .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.main-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1b1f2a;
}

.main-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #1b1f2a;
}

.main-content p {
    font-size: 1.2em;
    color: #555;
}

/* Sección de la imagen - tarjetas de la nueva sección */
.image-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-content p {
    font-size: 1rem;
    color: #666;
  }


  /* seccion de div con imagen seccionada en 2 partes */
  /* Estilos para el contenedor con sombra */
.container2 {
    width: 100%;
    max-width: 1050px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  
  /* Estilos para la sección dividida */
  .split-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .split-left {
    flex: 1;
    padding-right: 20px;
  }
  
  .split-left img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .split-right {
    flex: 1;
    padding-left: 20px;
  }
  
  .split-right h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .split-right p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
  }
  
  .split-right ul {
    list-style: none;
    padding: 0;
  }
  
  .split-right ul li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  