<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HASH TECHIE OFFICIAL</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- estilos de CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <!-- Header -->
  <header class="main-header">
    <div class="header-content">
      <img src="{{ url_for('static', filename='images/logoUPQ.svg') }}" alt="Logo UPQ" class="logo">
      <span class="header-text">LAGE</span>
    </div>
  </header>

  <!-- carousel -->
  <div>
    <section class="collection">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/alumnoslage.jpg') }}" alt="">
            <!-- <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div> -->
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/lage2.jpg') }}" alt="">
            <!-- <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div> -->
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/lage3.jpg') }}" alt="">
            <!-- <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div> -->
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/lage4.jpg') }}" alt="">
            <!-- <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div> -->
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/lage5.jpg') }}" alt="">
            <!-- <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div> -->
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/lage6.jpg') }}" alt="">
            <!-- <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- seccion debajo del carousel -->
  <div>

    <section class="main-content">
      <div class="container">
        <h1>Bienvenidos</h1>
        <h2>LAGE</h2>
        <p>Licenciatura en Administracion y Gestion Empresarial</p>
      </div>
    </section>

  </div>

  <!-- Aqui pondremos la secccion de la directora de carrera -->
  <!-- <div class="container2">
    <div class="card_container">
      <article class="card_article">
        <img class="card_img" src="{{ url_for('static', filename='images/Directora.jpg') }}" alt="image">
        <div class="card_data">
          <span class="card_description">DIRECTORA DE PROGRAMA EDUCATIVO</span>
          <h2 class="card_title"></h2>
          <div class="info">
            <p><strong>DIRECTORA DE PROGRAMA EDUCATIVO</strong></p>
            <p> DRA. MARICARMEN RICO GALEANA </p>
            <p>101 9000 Ext. 306  </p>
            <p><strong>mariarmen.rico@upq.mx </strong></p>
            <p>RECEPCION LAGE</p>
            <p>101 9000 Ext. 306  </p>
            <p>recepcion@upq.edu.mx </p>
          </div> 
        </div>
      </article>
    </div>
  </div> -->
  <div class="container3">
    <div class="card3">
      <div class="face3 front3">
        <img class="card_img" src="{{ url_for('static', filename='images/director_lage.png') }}" alt="image">
        <h3>DIRECTOR DE PROGRAMA EDUCATIVO</h3>
      </div>
      <div class="face3 back3">
        <h3>M. en D.O.H.</h3>
        <p>Miguel Ángel Viramontes Romero </p>
        <p>1019000 ext. 321 </p>
        <p><strong>gerardo.gonzalez@upq.mx</strong></p>
        <p>RECEPCION LAGE</p>
        <p>101 9000 Ext. 306 </p>
        <p>recepcion@upq.edu.mx </p>
      </div>
    </div>
  </div>

  <!-- cards de links -->

  <div class="image-section">
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <h3>Guia de Procesos</h3>
          <a href="{{ url_for('static', filename='pdf/PROCESOS.pdf') }}" download="PROCESOS.pdf">Descargar
            PROCESOS.pdf</a>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>Directorio UPQ</h3>
          <a href="{{ url_for('static', filename='pdf/GUIA DE LA DIRECCIÓN DE SERVICIOS ESTUDIANTILES.pdf') }}"
            download="PROCESOS.pdf">Descargar Guia de direccion.pdf</a>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3>Mapa curricular</h3>
          <a href="{{ url_for('static', filename='pdf/UPQ_Mapa_Curricular_LAGE.pdf') }}"
            download="PROCESOS.pdf">Descargar Mapa Curricular.pdf</a>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTENIDO DE LA CARRERA -->
  <div class="container2">
    <div class="split-section">
      <div class="split-left">
        <img src="{{ url_for('static', filename='images/A.jpg') }}" alt="Imagen Descripción">
      </div>
      <div class="split-right">
        <h2 class="tituloMV">Misión</h2>
        <p>
          Formar profesionistas en Administración y Gestión Empresarial con la capacidad de ser agentes de cambio que
          optimicen recursos de forma eficaz e impulsen el desarrollo organizacional en entidades socioeconómicas con un
          perfil analítico e innovador, y con un pensamiento global y humano.
          </strong>
        </p>
        <h2 class="tituloMV">Visión</h2>
        <p> Ser para el 2025, el programa educativo referente en Administración y Gestión Empresarial en la entidad
          queretana, con la finalidad de satisfacer las expectativas del alumnado y nuestras egresadas y egresados,
          respondiendo de forma puntual e innovadora a las necesidades del mercado laboral e impulsando el
          emprendedurismo en la gestión empresarial.</p>
      </div>
    </div>
  </div>  

  <!-- Contenedor para las nuevas secciones -->
  <div class="container-sections">
    <div class="section">
      <h3>Mapa Curricular</h3>
      <a href="{{ url_for('static', filename='pdf/GGT_Mapa_curricular_2016.pdf') }}" download="GGT_Mapa_curricular_2016.pdf">Consulta el contenido del mapa curricular para la carrera.</a>
    </div>
    <div class="section">
      <h3>Plan de Asignatura</h3>
      <a href="{{ url_for('static', filename='pdf/EJEMPLO_LLENADO_GUÍA_DE_ASIGNATURA.pdf') }}" download="EJEMPLO_LLENADO_GUÍA_DE_ASIGNATURA.pdf">Ejemplo de llenado guía de asignatura pdf.</a>
      <br>
      <br>
      <a href="{{ url_for('static', filename='excel/EJEMPLO_LLENADO_PLAN_DE_ASIGNATURA.xlsx') }}" download="EJEMPLO_LLENADO_PLAN_DE_ASIGNATURA.xlsx">Ejemplo de llenado guía de asignatura excel.</a>
    </div>
    <div class="section">
      <h3>Guía de Asignatura</h3>
      <a href="{{ url_for('static', filename='excel/PLAN_DE_ASIGNATURA_DE_LAGE_SD2025.xlsx') }}" download="PLAN_DE_ASIGNATURA_DE_LAGE_SD2025.xlsx">Accede a las guías oficiales de las asignaturas.</a>
    </div>
    <div class="section">
      <h3>Calendario Escolar</h3>
      <a href="{{ url_for('static', filename='pdf/Calendario_2024-2025.pdf') }}" download="Calendario_2024-2025.pdf">Revisa las fechas importantes del ciclo escolar.</a>
      <p></p>
    </div>
    <div class="section">
      <h3>Asesorías</h3>
      <a href="{{ url_for('static', filename='word/FORMATO_DE_ASESORÍAS_ACADÉMICAS_2024.docx') }}" download="FORMATO_DE_ASESORÍAS_ACADÉMICAS_2024.docx">Información sobre asesorías académicas.</a>
    </div>
    <div class="section">
      <h3>Formato Academia</h3>
      <a href="{{ url_for('static', filename='word/FORMATO_ACADEMIA.docx') }}" download="FORMATO_ACADEMIA.docx">Consulta el contenido del Formato de Academia.</a>
    </div>
    <div class="section">
      <h3>Manuales de Asignatura</h3>
      <p>Documentos para el aprendizaje y enseñanza.</p>
    </div>
    <div class="section">
      <h3>Grupos y Horarios</h3>
      <p>Consulta los horarios y asignación de grupos.</p>
    </div>
    <div class="section">
      <h3>Lista de Asistencia a Tutoría</h3>
      <p>Control de asistencia en tutorías académicas.</p>
    </div>
    <div class="section">
      <h3>Códigos QR de Servicios Escolares</h3>
      <p>Accede rápidamente a servicios mediante códigos QR.</p>
    </div>
  </div>


  <div class="flipcards-container">
    <!-- Primera fila (3 flipcards) -->
    <div class="flipcard">
      <div class="flipcard-inner">
        <div class="flipcard-front">
          <h3>Tarjeta 1</h3>
        </div>
        <div class="flipcard-back">
          <p>Contenido trasero de la tarjeta 1</p>
        </div>
      </div>
    </div>

    <div class="flipcard">
      <div class="flipcard-inner">
        <div class="flipcard-front">
          <h3>Tarjeta 2</h3>
        </div>
        <div class="flipcard-back">
          <p>Contenido trasero de la tarjeta 2</p>
        </div>
      </div>
    </div>

    <div class="flipcard">
      <div class="flipcard-inner">
        <div class="flipcard-front">
          <h3>Tarjeta 3</h3>
        </div>
        <div class="flipcard-back">
          <p>Contenido trasero de la tarjeta 3</p>
        </div>
      </div>
    </div>

    <!-- Segunda fila (2 flipcards) -->
    <div class="flipcard">
      <div class="flipcard-inner">
        <div class="flipcard-front">
          <h3>Tarjeta 4</h3>
        </div>
        <div class="flipcard-back">
          <p>Contenido trasero de la tarjeta 4</p>
        </div>
      </div>
    </div>

    <div class="flipcard">
      <div class="flipcard-inner">
        <div class="flipcard-front">
          <h3>Tarjeta 5</h3>
        </div>
        <div class="flipcard-back">
          <p>Contenido trasero de la tarjeta 5</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- Link script js -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>