<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HASH TECHIE OFFICIAL</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- estilos de CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <!-- Header -->
  <header class="main-header">
    <div class="header-content">
      <span class="header-text">LAGE</span>
    </div>
  </header>

  <div >
    <section class="collection">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/Image1.jpg') }}" alt="">
            <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div>
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/Image2.jpg') }}" alt="">
            <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div>
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/Image3.jpg') }}" alt="">
            <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div>
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/Image4.jpg') }}" alt="">
            <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div>
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/Image5.jpg') }}" alt="">
            <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div>
          </div>
          <div class="content swiper-slide">
            <img src="{{ url_for('static', filename='images/Image6.jpg') }}" alt="">
            <div class="text-content">
              <h3>Photography</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel culpa debitis officia expedita unde?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- seccion debajo del carousel -->
  <div>

    <section class="main-content">
      <div class="container">
        <h1>Bienvenidos</h1>
        <h2>LAGE</h2>
        <p>significado de lage</p>
      </div>
    </section>
    
  </div>


  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- Link script js -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
